* {
    margin: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    height: 100%;
    width: 100%;
    background: yellow;
    font-size: 0;
}

h3 {
    text-align: center;
}

h4 {
    display: inline
}

.dates {
    background: black;
    color: white;
    padding: 23.5px;
    border: 0;
}

.br {
    white-space: pre-wrap;
}

section {
    border: 3px solid;
    border-style: solid;
    border-top: 0;
}

#mapid { 
    width:50%;
    
    height: 90%;
    border: 0;
    display: inline-block;
}

#features {
    width: 50%;   
    height: 90%;
    display: inline-block;
    vertical-align: top;

    font-size: 20px;
}

#timeContainer {
    width: 100%;
    height: 10%;
    background: black;

    display: flex;
    flex-direction: column;

}

.rectangle {
    background-color: #555;
  }

.rectangle:hover {
    opacity: .8;
}


/* Timeline - Years */

#eventContainer {
    display: flex;
    justify-content: center;
    height: 70%;
}

.timelines-years {
	border-top: 1px solid #cfc1c1;
    display: flex;
    justify-content: center;
    height: 30%;
    -webkit-padding-start: 0;
}

li {	
	display: inline-block;
    width: 9.091%;
	color: #868686;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #cfc1c1;
}

li:last-child {
    border-right: 0px;
}