* {
    margin: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #eacda3, #d6ae7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    font-size: 0;
}

img {

    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;

    border: 4px solid transparent;
} 

h3 {
    text-align: center;
}

h4 {
    display: inline
}

.dates {
    background: black;
    color: white;
    padding: 23.5px;
    border: 0;
    
    display: flex;
    flex-direction: row;
    justify-content:  space-between;;
}

.logoHolder {
   width: 72px;
   height: 72px; 

   float: left;
}

.jobTitle {
    text-align: left;
}

.summaryInfo {
    margin-left: 80px;
}

.jobHolder {
    /* display: flex; */
}

.extraDetails {
    margin-left: 80px;
    margin-top: 16px;
}

#events {
    overflow: auto;
    height: inherit;
}


img {
    height: 64px;
    width: 64px;
}

.sec {
    padding: 20px 72px 16px 24px;
}
.br {
    white-space: pre-wrap;
}

section {
    border: 3px solid;
    border-style: solid;
    border-top: 0;
}

#leftHalf {
    width: 50%;
    height: 90%;

    display: inline-block;
}

#buttons {
    width: 100%;
    height: 10%;
}

button {
    
    width: 50%;
    height: 50%;
}

#map { 
    width: 100%;
    height: 90%;

    border: 0;
    display: inline-block;
}

#floating-panel {
    height: 5%;
}

#mapPic {
    height: 95%;
}

#features {
    width: 50%;   
    height: 90%;
    display: inline-block;
    vertical-align: top;

    font-size: 20px;
}

#timeContainer {
    width: 100%;
    height: 10%;
    background: black;

    display: flex;
    flex-direction: column;

}

.rectangle {
    background-color: #555;
    /* border-right: thin solid; */
    cursor: pointer;
  }

.rectangle:hover {
    opacity: .8;
}

.rectangle:active {
    background-color: red;
}

.active {
    background-color: blue;
}



/* Timeline - Years */

#eventContainer {
    display: flex;
    justify-content: center;
    height: 70%;
}

.timelines-years {
	border-top: 1px solid #cfc1c1;
    display: flex;
    justify-content: center;
    height: 30%;
    -webkit-padding-start: 0;
}

li {	
	display: inline-block;
    width: 4.819267%;
	color: #868686;
    font-size: 20px;
    text-align: center;
    border-right: 1px solid #cfc1c1;
}

li:last-child {
    border-right: 0px;
    width: 3.4483%
}


i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

b {
    font-size: 30px;
    text-decoration: none;
}

b:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}